body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: tomato;
}

h1 {
  color: 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00b7ff;
}

nav a,
nav button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00b7ff;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover,
nav button:hover {
  background-color: #00668e;
  color: white;
  text-decoration: none;
}

.warning {
  padding: 1rem;
  font-weight: bold;
  border: 1px solid rgb(255, 213, 135);
  background-color: rgb(255, 213, 135);
}
